<section class="search-filter mt-5 ">
    <div class="container">



<!--
      <div class="row shadow mt-5">
      <div class="row m-3">
        <div class="col-lg">
          <select class="form-select" id="inlineFormSelectPref">
            <option selected >{{"Country" | translate}}</option>
              <option value="1"></option>
            <option value="2">User</option>
          </select>
        </div>
          <div class="col-lg">
          <select class="form-select" id="inlineFormSelectPref">
            <option selected>{{"Language" | translate}}</option>

            </select>
        </div>
        <div class="col-lg ">
          <input type="number" class="form-control" placeholder="Rate" aria-label="Rate">
        </div>
      </div>
    </div> -->












<!-- --------------------------------------------------------------------------------------------------- -->



<div class="container-fluid mt-5">
  <!-- <button class="btn btn-success" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add new user</button> -->


<table class="table table-striped">
  <thead class="thead-style">
    <tr>
      <th scope="col">{{"ID" | translate}}</th>
      <!-- <th scope="col">Avatar</th> -->
      <th scope="col">{{"userName" | translate}}</th>
      <th scope="col">{{"firstName" | translate}}</th>
      <th scope="col">{{"lastName" | translate}}</th>
      <th scope="col">{{"Email" | translate}}</th>
      <!-- <th scope="col">{{"Rating" | translate}}</th> -->
      <th scope="col">{{"Country" | translate}}</th>
      <th scope="col">{{"Action" | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | paginate: { itemsPerPage: 2, currentPage: page,totalItems:totalUsersLength }                       ; let i = index ">
              <td>{{ i + 1 }}</td>
              <!-- <td><img src="../../../../assets/img/user.png" class="avatar" alt="Avatar" /></td> -->
              <td>{{user.userName}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.Email}}</td>
              <!-- <td>{{user.Rating}}</td> -->
              <td>{{user.Country}}</td>
      <td>
        <button class="btn btn-edit" type="button" (click)="onEdit(user)"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-ng-href="#exampleModal" >{{"Edit" | translate}}</button>
        <button class="btn btn-delete mx-3" (click)="DeleteUser(user)">{{"Delete" | translate}}</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
</section>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">{{"User Details" | translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{"userName" | translate}}</label>
            <input type="text" formControlName="userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            <h3 class="text-danger" *ngIf="formValue.controls['userName']?.errors && formValue.controls['userName']?.touched">
              * User Name is Required
            </h3>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{"firstName" | translate}}</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            <h3 class="text-danger" *ngIf="formValue.controls['firstName']?.errors && formValue.controls['firstName']?.touched">
              * First Name is Required
            </h3>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{"lastName" | translate}}</label>
            <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1" required>
            <h3 class="text-danger" *ngIf="formValue.controls['lastName']?.errors && formValue.controls['lastName']?.touched">
              * Last Name is Required
            </h3>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{"Email" | translate}}</label>
            <input type="email" formControlName="Email" class="form-control" id="exampleInputPassword1" required >

            <h3 class="text-danger" *ngIf="formValue.controls['Email']?.hasError('email')">
              * Enter a valid email address
            </h3>
            <h3 class="text-danger" *ngIf="formValue.controls['Email']?.hasError('required') && formValue.controls['Email']?.touched">
              * Email address is Required
            </h3>

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{"Country" | translate}}</label>
            <input type="text" formControlName="Country" class="form-control" id="exampleInputPassword1" required>
            <h3 class="text-danger" *ngIf="formValue.controls['Country']?.errors && formValue.controls['Country']?.touched">
              * Country is Required
            </h3>
          </div>

          <div class="modal-footer">


            <button type="button" class="btn btn-secondary" id="cancel" data-bs-dismiss="modal">{{"Close" | translate}}</button>
            <!-- <button type="button" class="btn btn-primary" (click)="postUserDetails()">Add</button> -->
            <button type="button" class="btn btn-success" (click)="updateUserDetails(users)" [disabled]="formValue.invalid" >  {{"Update" | translate}}</button>
            <h3 class="text-danger" *ngIf="formValue.invalid">
              * Complete required fields to enable Update button
            </h3>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

