 <nav class="navbar navbar-expand-lg    ">
  <div class="container-fluid ">
    <a class="navbar-brand font-open" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>


      <div class="dropdown  me-3">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <div class="image">
          <a href="#">
            <img src="../../../../assets/img/user.png" alt="John Doe" />
          </a>
        </div>

        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item waves-light font-open cur" mdbWavesEffect (click)="logout()">{{"Log out" | translate}}</a>
          <a class="dropdown-item font-open cur" routerLink="Profile">{{"Profile" | translate}}</a>
        </ul>
      </div>


       <button class="btn arp-btn" (click)="changecurrentLang('ar')">Ar</button>
      <button class="btn eng-btn" (click)="changecurrentLang('en')">EN</button>

      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning font-open" type="submit">{{"Search" | translate}}</button>
      </form> -->



     </div>

  </div>

</nav>



