  <div class="row"   [ngStyle]="{'direction': textDir}">
    <nav id="sidebarMenu" class="col-md-12 d-md-block sidebar collapse">
      <span class="avatar avt avatar-sm rounded-circle ">
        <img src="../../../../assets/img/user2.jpeg" alt="" class=" img-fluid">
      </span>


        <div class="position-sticky pt-3">
          <div class="col-md-12 log-s">
            <img class="img-fluid " src="../../../assets/img/freelancer-logo.svg" alt="">
        </div>
            <ul class="nav flex-column">
                <li class="nav-item fs-5 mb-3">
                    <a class="nav-link active" aria-current="page" routerLinkActive="heightlight"
                        routerLink="Dashboard">
                        <i class="fas fa-home"></i>
                        <span class="px-2 font-open">{{"Dashboard" | translate}}</span>
                    </a>
                </li>

                  <li class="accordion  border-0" id="accordionExample">
                    <div class="accordion-item accordionStyle  border-0">
                        <p class="accordion-button bk-tr fs-5 text-dark border-0" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-users text-warning"></i>
                            <span class="px-2 font-open">{{"Users" | translate}}</span>
                        </p>
                        <div id="collapseOne" class="accordion-collapse collapse lasdiv" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <ul class="nav flex-column">
                                <li class="nav-item border-0 fs-5  mb-3">
                                    <a class="nav-link active" routerLink="users" routerLinkActive="heightlight">
                                        <i class="fas fa-users" style="color:#fd7e14"></i>
                                        <span class="px-2 font-open">{{"Talent" | translate}}</span>
                                    </a>
                                </li>
                                <li class="nav-item border-0 fs-5  mb-3">
                                    <a class="nav-link active" routerLink="users/trash" >
                                        <i class="fas fa-trash-restore-alt" style="color:gray"></i>
                                        <span class="px-2 font-open">{{"Recycle Bin" | translate}}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>



                <li class="nav-item fs-5 mb-3">
                    <a class="nav-link" routerLink="projects">
                        <i class="fas fa-shopping-cart" style="color:#6610f2"></i>
                        <span class="px-2 font-open">{{"Projects" | translate}}</span>
                    </a>
                </li>
                <!-- <li class="nav-item fs-5 mb-3">
                    <a class="nav-link" routerLink="client">
                        <i class="fas fa-user-friends" style="color:#6f42c1"></i>
                        <span class="px-2 font-open">{{"Clint" | translate}}</span>
                    </a>
                </li> -->
                <li class="nav-item fs-5 mb-3">
                    <a class="nav-link" routerLink="reports">
                        <i class="fas fa-chart-bar" style="color:#dc3545"></i>
                        <span class="px-2 font-open">{{"Reports" | translate}}</span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

</div>








